{% extends 'base.html' %}
{% block start %}

<!-- CSS for horizontal scrolling and animation -->
<style>
    .container {
        user-select: none;
    }
    .our-services {
        height: 100px;
    }

    .testimonial-track {
        display: flex;
        animation: scroll 20s linear infinite;
    }

    /* Pause animation on hover */
    .testimonial-track:hover {
        animation-play-state: paused;
    }

    .testimonial-carousel {
        overflow: hidden;
        position: relative;
    }

    .testimonial-item {
        flex: 0 0 25%; /* Adjust this based on the number of cards to fit in one row */
        box-sizing: border-box;
    }
    .custom-img{
        border-radius: 30px;
    }
    .custom-btn {
    background-color: black;
    color: white;
    transition: background-color 0.3s ease;
    }

    .custom-btn:hover {
        background-color: grey;
        color: white;
    }


    @keyframes scroll {
        0% {
            transform: translateX(0);
        }
        100% {
            transform: translateX(-100%);
        }
    }
</style>

<div>
    <div class="container">
        <div class="row">
            <div class="col d-flex flex-column justify-content-center align-items-center py-4">
                <h1 class="text-center">Kickstart Your AI & ML Career Journey Today!</h1>
                <p class="text-center">Discover internships, job opportunities, and the latest innovations in AI & ML, all in one place. Explore your future, gain insights, and stay ahead of the curve with our dynamic, fresher-focused platform.</p>
            </div>
            <div class="col">
                <img class="img-fluid" src="../static/img/about.png" alt="">
            </div>
        </div>
    </div>
</div>


<div class="container">
    <div class="container py-3">
        <div class="section-title position-relative text-center our-services" data-wow-delay="0.1s">
            <h3 class="position-relative d-inline">What We Offer</h3>
            <h4 class="my-2">Empowering Freshers with AI & ML Career Opportunities</h4>
        </div>
        <div class="row g-4">
            <div class="col-lg-4 col-md-6 wow zoomIn">
                <div class="service-item d-flex flex-column justify-content-center text-center rounded">
                    <div class="container">
                        <img class="img-fluid custom-img wow zoomIn" data-wow-delay="0.5s" src="../static/img/job.jpg">
                    </div>
                    <h5 class="my-2">Jobs & Internships</h5>
                    <p>
                        Discover opportunities by exploring our platform for finding the latest Jobs & Internships for
                        Freshers In hot domain like AI, ML, DS. Your are just a click away!
                    </p>
                    <a class="btn px-3 mt-auto mx-auto custom-btn" href="/job/">Read More</a>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 wow zoomIn">
                <div class="service-item d-flex flex-column justify-content-center text-center rounded">
                    <div class="container">
                        <img class="img-fluid custom-img wow zoomIn" data-wow-delay="0.5s" src="../static/img/contest.jpg">
                    </div>
                    <h5 class="my-2">Contests & Hackathons</h5>
                    <p>
                        Explore a world of opportunities by discovering the latest Contests and Hackathons.
                        Unleash your creativity, compete with the best, and turn your ideas into reality.
                    </p>
                    <a class="btn px-3 mt-auto mx-auto custom-btn" href="/contest/">Read More</a>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 wow zoomIn">
                <div class="service-item d-flex flex-column justify-content-center text-center rounded">
                    <div class="container">
                        <img class="img-fluid custom-img wow zoomIn" data-wow-delay="0.5s" src="../static/img/news.jpg">
                    </div>
                    <h5 class="my-2">Breaking News</h5>
                    <p>
                        Dive into the pulse of the moment with tech News.
                        From industry updates to tech trends, we deliver the latest information at your fingertips.
                    </p>
                    <a class="btn px-3 mt-auto mx-auto custom-btn" href="/news/">Read More</a>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="bg-secondary customers">
    <div class="testimonial py-4">
        <h6 class="text-center">Our Customers</h6>
        <h4 class="text-center">Explore the success stories of our valued Customers</h4>
        <div class="testimonial-carousel">
            <div class="testimonial-track">
                <div class="testimonial-item p-4">
                    <p>I got ML internship on this portal, It's easy to use. I am really greatful to all the team members of AI Rozgar</p>
                    <div class="d-flex align-items-center">
                        <img class="img-fluid rounded-circle" src="../static/img/ankita.png" alt="Ankita Pancholi">
                        <div class="ps-3">
                            <h6 class="mb-1">Ankita Pancholi</h6>
                            <small>ML Engineer</small>
                        </div>
                    </div>
                </div>

                <div class="testimonial-item p-4">
                    <p>This platform provides very relevant job suggestions and continuous support for tracking the progress
                        of our application.</p>
                    <div class="d-flex align-items-center">
                        <img class="img-fluid rounded-circle" src="../static/img/pankaj.png" alt="Pankaj">
                        <div class="ps-3">
                            <h6 class="mb-1">Pankaj</h6>
                            <small>Gen AI Intern</small>
                        </div>
                    </div>
                </div>

                <div class="testimonial-item p-4">
                    <p>Finding the right job in the tech world can be challenging, but this portal simplified the process
                        for me. I am very thankful to the team.</p>
                    <div class="d-flex align-items-center">
                        <img class="img-fluid rounded-circle" src="../static/img/raushan.png" alt="Raushan Kumar">
                        <div class="ps-3">
                            <h6 class="mb-1">Raushan Kumar</h6>
                            <small>ML Oops Engineer</small>
                        </div>
                    </div>
                </div>

                <div class="testimonial-item p-4">
                    <p>Your Global Hub simplified the job search process. Its curated content and real-time data
                        helped me land my current role.</p>
                    <div class="d-flex align-items-center">
                        <img class="img-fluid rounded-circle" src="../static/img/ajeet.png" alt="Ajeet Kumar">
                        <div class="ps-3">
                            <h6 class="mb-1">Ajeet Kumar</h6>
                            <small>Python Developer</small>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



<div class="container">
    <div class="container py-3">
        <div class="section-title position-relative text-center" data-wow-delay="0.1s">
            <h6 class="position-relative d-inline">Our Motivation</h6>
            <h4 class="mt-2">Driven by Innovations in Computer Science</h4>
        </div>
        <p class="text-center">The future belongs to those who are not afraid to embrace the unknown and leverage the
            power of AI. In the pursuit of innovation, internships and jobs in artificial intelligence are not just
            stepping stones but the foundation of tomorrow’s breakthroughs. Every challenge solved today becomes the
            opportunity of tomorrow.</p>
        <p style="text-align: end;">Andrew Ng, Co-founder of Coursera, Founder of DeepLearning.AI</p>
    </div>
</div>

{%endblock%}