body {
    font-family: 'Poppins', 'Roboto', sans-serif;
  }

.filter-section {
    width: 20%;
}
.job-cards-section {
    width: 80%;
}
.job-card {
    margin-bottom: 20px;
}
.top-buttons {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.internship-cards-section {
    width: 80%;
}

.internship-card {
    margin-bottom: 20px;
}
